html {
	font-size: 62.5%; /* 10px bij standaard browser instelling */
	box-sizing: border-box; /* Hoogte en breedte die je opgeeft is altijd met rand en padding */
	margin: 0px;
	padding: 0px;
}

*, *::before, *::after {
	box-sizing: inherit;
	}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	color: #444;
}
a {
	color: #444;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* HEADER layout */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 6rem;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
}
nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: right;
	align-content: center;

}
nav a {
	margin-right: 2.4rem;
	align-self: center;
}
nav a img {
	align-self: center;
	border-radius: 50%;
	height: 3rem;
}

/* MAIN layout */
main {
	margin: 0px;
}
#main-container {
	margin: 0 auto;
	width: 100%;
	min-height: 80vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

/* FORM layout */
#google-form {
	display: flex;
	flex-flow: column;
	justify-items: space-between;
	align-items: center;
	width: 40%;
}

#google-form label {
	width: 50%;
	margin-bottom: 3rem;
}
#google-form input {
	background: url(search_black_24dp.svg) no-repeat 1rem white;
	padding: .5rem 4.8rem .5rem 4.8rem;
	width: 100%;
	height: 4.8rem;
	margin-bottom: 2rem;
	border-radius: 2.4rem;
	border: solid 1px #AAA;
	border-image: none;
	color: #444;
	caret-color: #444;
	overflow: scroll;
}
#google-form input:hover,
#google-form input:focus,
#google-form button:hover {
	box-shadow: 0 0 6px .5px #444;
}
#search-submit {
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
#search-submit button {
	padding: .6rem 1.1rem;
	border: none;
	border-radius: .2rem;
	background: #efefef;

}

/* FOOTER layout */
footer {
	position: fixed;
    bottom: 0px;
    left: 0px;
	width: 100%;
	block-size: 10rem;
	background-color: #efefef;

}
#footer-container {
	margin: 0 auto;
	width: 100%;
	min-height: 20vh;
	display: flex;
	flex-flow: column;
	align-content: center;
}
#footer-container p {
	margin: 0 2.4rem;
	padding: 1.6rem 0;
	border-bottom: 1px solid #444;
}
#footer-bottom-middle a {
	background: url(blad-google.png) no-repeat left;
	background-size: 1.2rem;
	padding-left: 2rem;
}

#footer-bottom {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1.6rem 0;

}
#footer-bottom a {
	margin: 0 2.4rem;	
}

